.row-centered {
	margin: 0;
    max-width: 100%;

    color: black;
    text-align:center;
 
}

.col-sm-6 {

    padding: 15px;
	height: 17em;
	
	background-position: center;
	background-size: cover;

	color: $color-darkgrey;
}

.col-md-6 {
	height : auto;
}


.col-content {

	padding: 2em;
	height: 100%;

	background: rgba(246, 240, 241, 0.7);
	
	text-align: justify;

	
	opacity: 0;
 	transition: opacity 0.3s linear;

 		&:hover { opacity: 1; }
}

.col-column {

	margin-bottom: 2em;
}
