.header {

	background-color: $color-darkgrey;

}

.header-img {

	margin-right: auto;
	margin-left: auto;
	max-width: 47em;
}

.header-title {

	margin-top: 0%;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 30px;

	color: $color-light;

	
	text-align: center;

}