/*STYLE DE L'ACCUEIL*/



#header {
background-color: #322F32;
}

#header h2{
	text-align: center;
	margin-top: 0%;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 30px;
	color: #F6F0F1;
}

#header img{
	margin-right: auto;
	margin-left: auto;
	width: 47em;


}

/* style de la page */


.container-fluid {
	width: 100%;
	background-color: #F6F0F1;
}


#prez {

	max-width: 80%;
	margin: auto;
	color: black;
	color: #322F32;
}

#prez h3{
	color: #9E464C;
}


/* centered columns styles */



.row-centered {
    text-align:center;
    color: black;
 
}

.col-sm-6 {
    padding: 15px;
	height: 17em;
	color: #322F32;
}

.col-sm-6 .content {

	background: rgba(246, 240, 241, 0.6);
	padding: 2em;
	height: 100%;
	text-align: justify;

	/*SET UP ANIMATION*/

	visibility: hidden;
	opacity:0;
 	transition:opacity 0.5s linear;


}

.col-sm-6:hover > .content {

	opacity:1;
	visibility: visible;
}

.content h4{
	margin-top: 0px;
	text-align: center;
}

.content p{
	text-align: justify;
}





/* footer style */

#footer{
	background-color: #322F32;
	width: 100%;
	height: 20em;
	padding-left: 15px;
}

#footer h3{
	color: #F6F0F1;
	margin: 0px;
	margin-bottom: 1em;
	padding-top: 10px;

}








/*STYLE DES PAGES CRÉATION*/


.col-xs-7 .content {
	padding: 15px;
}

.img-crea {
	margin-bottom: 3em;
}

.col-xs-5 .content {
	padding: 15px;
	margin-bottom: 3em;
}

.col-xs-5 ul{
	text-align: left;
}

.description {
	top:10%;
	position: sticky;
}

.tech {
	padding: 1em;
	border-left: 4px solid #BA2A47;
	background-color: #A392A5;
	color: #F6F0F1;
}





