.description-lightbox {
    padding: 2em;
    width: 50%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 25%;
    overflow: scroll;

    background: rgba(246, 240, 241, 0.7);
    
   

}



.lightbox-title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;

}

